<div class="example-container" fxFlex.xs="100%" fxFlex="400px">
  <h1>SignUp</h1>
  <br />
  <form
    novalidate
    fxLayout="column"
    fxLayoutAlign="center center"
    [formGroup]="studentForm"
    (ngSubmit)="onSubmit()"
    #f="ngForm"
  >
    <p>
      <mat-form-field
        appearance="legacy"
        hintLabel="Should be at least 6 charaters"
      >
        <label>Email</label>
        <mat-label>Email here</mat-label>
        <input
          class="input1"
          matInput
          placeholder="email"
          type="email"
          name="email"
          formControlName="email"
          required
          ngModel
          email
        />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="legacy" hintLabel="more than 8">
        <label>Password</label>
        <mat-label>Password here</mat-label>
        <input
          matInput
          placeholder="password"
          type="password"
          name="password"
          formControlName="password"
          required
          minlength="8"
        />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
      <br />
    </p>

    <p>
      <!--date picker-->
      <mat-form-field color="accent" appearance="fill">
        <label>BirthDay</label>
        <mat-label>BirthDay</mat-label>
        <input
          matInput
          [matDatepicker]="picker1"
          required
          name="bday"
          formControlName="bdate"
          ngModel
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matSuffix
          [for]="picker1"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
        <h4>dd/mm/yyyy</h4>
      </mat-form-field>
    </p>

     <!--
    <mat-form-field>
      <mat-checkbox name="confirm" formControlName="confirm" ngModel
        >Agree to terms and condition</mat-checkbox
      >
    </mat-form-field>
    <br />

      <label for="">Password</label>
      <input
        placeholder="Placeholder"
        name="password"
        type="password"
        formControlName="password"

      /> -->
    <button mat-raised-button type="submit" color="primary">Submit</button>
    <button mat-raised-button type="reset" color="warn">Clear</button>
    <br />
  </form>
</div>
