form {
  margin-top: 10px;
  border: 2px solid;
  margin-left: 400px;
  width: 400px;
}

h1 {
  margin-left: 600px;
}

form button {
  margin-left: 100px;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 400px;
}


