<div class="container" fxLayout="column" fxLayout.gt-lg="row" fxLayoutAlign="center center">
  <section>
    <h1>Activity1</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quos quas sunt. Quam cumque odio animi praesentium consectetur dolorum, reprehenderit sunt ullam sed, et accusamus? Impedit unde pariatur sapiente officiis!</p>
  </section>

  <section>
    <h1>Activity2</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quos quas sunt. Quam cumque odio animi praesentium consectetur dolorum, reprehenderit sunt ullam sed, et accusamus? Impedit unde pariatur sapiente officiis!</p>
  </section>

  <section>
    <h1>Activity3</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quos quas sunt. Quam cumque odio animi praesentium consectetur dolorum, reprehenderit sunt ullam sed, et accusamus? Impedit unde pariatur sapiente officiis!</p>
  </section>
</div>
