<form (ngSubmit)=" onStartTraning(f)" #f="ngForm">
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Let's start workout</mat-card-title>
  </mat-card-header>
  <img
    mat-card-image
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz
      breeds of dog from Japan. A small, agile dog that copes very well with
      mountainous terrain, the Shiba Inu was originally bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button type="submit" class="btn btn-primary">Start</button>
    <mat-form-field appearance="fill">

      <mat-select disableRipple ngModel name="exersice" required="">
        <mat-option *ngFor="let e of exerises" [value]="e.id">{{e.name}}</mat-option>
      </mat-select>
      <mat-label>Select an option</mat-label>
      <button type="submit" mat-button [disabled]="f.invalid"></button>
    </mat-form-field>
  </mat-card-actions>
</mat-card>
</form>
