<mat-sidenav-content>
  <mat-toolbar color="accent">
    <div fxHide.gt-xs>
      <button mat-icon-button (click)="onToggleSideNav()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div>Logo</div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
      <ul fxLayout fxLayoutGap="10px" class="navigation-items">
        <a *ngIf="!isAuth" routerLink="/signup">SignUp</a>
        <a  *ngIf="!isAuth" routerLink="/login">Login</a>
        <a  *ngIf="isAuth" routerLink="/traning">Traning</a>
        <a  *ngIf="isAuth" style="cursor:pointer" (click)="onLogOut()" routerLink="/traning">LogOut</a>
      </ul>
    </div>
  </mat-toolbar>
